<div class="container">
  <h1>Welcome to the RTT calculator</h1>

  <div class="form-group">
    <label for="yearInput">Year:</label>
    <input
      type="number"
      id="yearInput"
      [(ngModel)]="year"
      required
      class="form-control"
    />
  </div>

  <div class="form-group">
    <label for="paidLeaveInput">Paid Leaves:</label>
    <input
      type="number"
      id="paidLeaveInput"
      [(ngModel)]="paidLeaveDays"
      class="form-control"
    />
  </div>

  <div class="form-group">
    <label for="maxWorkedDaysInput">Maximum Worked Days:</label>
    <input
      type="number"
      id="maxWorkedDaysInput"
      [(ngModel)]="maxOfWorkedDays"
      class="form-control"
    />
  </div>
</div>

<div class="result">
  <h2>
    RTT:
    {{ getNumberOfRTT({ year, paidLeaveDays: paidLeaveDays ? paidLeaveDays : 25, maxOfWorkedDays: maxOfWorkedDays ? maxOfWorkedDays : 218 }) }}
  </h2>
</div>

<div class="info">
  <p>This widget is made by Ismaël Guerrib</p>
  <p>
    You can find my Github Profile here :
    <a href="https://github.com/ismaelguerrib"
      >https://github.com/ismaelguerrib</a
    >
  </p>
  <p>
    You can find my Linkedin Profile here :
    <a href="https://www.linkedin.com/in/ismaelguerrib/"
      >https://www.linkedin.com/in/ismaelguerrib/</a
    >
  </p>
</div>
